.h-wrapper {
    color     : white;
}

.h-container {
    color          : var(--secondary);
    justify-content: space-between;
    padding-bottom : 2rem;
    padding-top    : 1rem;
}

.h-menu {
    gap: 2rem;
}

.h-menu>*:hover {
    cursor: pointer;
}